<div class="container">
    <div class="row mt-5">
        <div *ngFor="let product of productslist" class="row shadow-sm p-3 justify-content-center align-items-center">
            
                    <div class="col">
                        <a (click)="giveDetails(product)"  [routerLink]="['../details', product.id]" style="text-decoration: none; color:black">
                        <div>{{product.name}}</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <a (click)="giveDetails(product)"  [routerLink]="['../details', product.id]" style="text-decoration: none; color:black">
                        <div>{{product.price}} {{product.currency}}</div>
                        </a>
                    </div>
                    <div class="col-2">
                        <div class="btn">
                           <a (click)="giveDetails(product)" routerLink="../editDetails" style="color: black;">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                           </a> 
                        </div>
                        
                        <div class="btn border-0" (click)="alert()">
                            <span class="material-symbols-outlined">
                            delete
                            </span>
                        </div>
                    </div>

            <!--Modal-->
        </div>
    </div>
</div>

